<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="static/add_employee.css">
</head>
<body class="add_employee_body">
    <div class="add_employee_container">
        <h1 class="page-title">Add Employee</h1>

        <form class="add_employee-form" id="employeeForm">
            <label class="add_employee-form-label" for="name">Name:</label>
            <input class="add_employee-form-input" type="text" id="name" name="name" required>

            <label class="add_employee-form-label" for="address">Address:</label>
            <input class="add_employee-form-input" type="text" id="address" name="address" required>

            <label class="add_employee-form-label" for="email">Email:</label>
            <input class="add_employee-form-input" type="email" id="email" name="email" required>

            <label class="add_employee-form-label" for="designation">Designation:</label>
            <input class="add_employee-form-input" type="text" id="designation" name="designation" required>

            <label class="add_employee-form-label" for="department">Department:</label>
            <input class="add_employee-form-input" type="text" id="department" name="department" required>

            <label class="add_employee-form-label" for="date_of_joining">Date of Joining:</label>
            <input class="add_employee-form-input" type="date" id="date_of_joining" name="date_of_joining">

            <button class="add_employee-form-button" type="button" onclick="addEmployee()">Add Employee</button>
        </form>

        <script>
            function addEmployee() {
                // Get form data
                const formData = new FormData(document.getElementById('employeeForm'));

                // Convert FormData to JSON
                const jsonData = {};
                formData.forEach((value, key) => {
                    jsonData[key] = value;
                });

                // Send JSON data to the endpoint
                fetch('/add_employee', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    
                    body: JSON.stringify(jsonData),
                })
                .then(response => {
                    if (response.status==400) {
                    throw new Error('Invalid Mail Format!');
                     }
                    return response.json()  // Parsing the JSON response
                }) 
                .then(data => {
                    alert(data.message);
                    // Handling the response as needed
                    location.href='/';
                })
                .catch(error => {
                    // Display general error message
                    alert('Error: ' + error.message);
                });
            }
        </script>
    </div>
</body>
</html>
