<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Employee Attendance</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='show_attendance.css') }}">
</head>
<body class="attendance_body">
    <div class="attendance_container">
        <h1 class="page-title">Employee Attendance Details</h1>
        <table class="attendance-table" border="1">
            <tr>
                <th class="attendance_th">Serial Number</th>
                <th class="attendance_th">In Time</th>
                <th class="attendance_th">Out Time</th>
                <th class="attendance_th">Date</th>
            </tr>
            {% for record in range(attendance.attendance|length) %}
                <tr class="attendance_tr">
                    <td class="attendance_td">{{ record+1 }}</td>
                    <td class="attendance_td">{{ attendance.attendance[record].in_time }}</td>
                    <td class="attendance_td">{{ attendance.attendance[record].out_time }}</td>
                    <td class="attendance_td">{{ attendance.attendance[record].date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
